.welcome{
    margin-top:110px;
    width: 100%;
    display: flex;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.welcome .content{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.welcome .imgbx{
    background: url(../img/Don-Bosco-une-vie-au-service-des-jeunes.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

.discover{
    display: flex;
    background: wheat;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.discover .quick-access{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.discover .quick-access div{
    background-color: white;
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    transition: box-shadow,border  ease-in-out 1s;
    border-top: solid rgb(0, 0, 255,.5) 15px;
    border-bottom: solid rgb(0, 0, 255,.5) 15px;
}

.discover .quick-access div:hover{
    box-shadow: 6px 6px 5px rgba(73, 69, 69, 0.3);
    border-top: solid orange 15px;
    border-bottom: solid orange 15px;
}

.textcontact{
    background: #eeb90baf;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.contact{
			transition: margin 1s ease-in-out;
    display: flex;
}

.imgbx2{
    display: flex;
    align-items: center;
    width: 50%;
}

.imgbx2 img{
    width: 100%;
}

.redbg{
    background: url(../img/red.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    padding: 100px;
}

.form .inputbox{
    margin-bottom: 40px;
}

.form .inputbox input,.form .inputbox textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.form .inputbox textarea{
    min-height: 150px;
}

.form .inputbox input::placeholder,.form .inputbox textarea::placeholder{
    color: #fff;
}

.form .inputbox input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400;
}


#check:checked ~ .contact
{
    
    margin-left: calc(25% + 10px);
}

@media(max-width:1024px){
				#check:checked ~ .contact{
    				margin-left: 0;
			 }				
}
