.title{
    color: orange;
    font-size: 35px;
}

p{
    margin: 30px;
    margin-bottom: 10px;
}

.main h1{
    text-align: center;
    color: orange;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: red;
    transition: color ease-in-out .7s;
}

.link:hover{
    color: blue;
}

.hidden{
    margin: 30px;
    margin-top: 0;
}

.hidden label{
    font-size: 15px;
    cursor: pointer;
    transition: all ease-in-out .7s;
}

.hidden label:hover{
    color: orange;
    font-size: 20px;
}

.hidden ul{
    display: none;
}

.hidden li{
    font-family: Cambria;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#check1{
    display: none;
}

#check1:checked ~ label{
    color: orange;
    font-size: 20px;
}

#check1:checked ~ ul{
    display: block;
}

#vie-db{
    position: absolute;
    top: 0;
}
